<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WKW</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" />
</head>
<div id="mouse-circle"></div>
<div class="scrollbar-element"></div>
<iframe src="audios/title.mp3" allow="autoplay" style="display: none" id="iframeAudio">
</iframe>

<audio autoplay loop id="playAudio">
  <source src="audios/title.mp3" />
</audio>

<body>
  <button id="btn-hamburger">
    <div id="hamburgerline-1"></div>
    <div id="hamburgerline-2"></div>
    <div id="hamburgerline-3"></div>
  </button>
  <ul class="menuplace">
    <li><a href="#" id="home">Home</a></li>
    <li><a href="#" id="contact">Contact</a></li>
    <li><a href="#" id="shop">Shop</a></li>
  </ul>
  <section>
    <img src="images/logo.png" alt="logowkw" class="logo" />
    <div class="vidtext1">In the Mood for Love</div>
    <video src="videos/mood.mp4" muted loop autoplay preload class="fullscreenvid firstvid"></video>
  </section>
  <section>
    <div class="vidtext2">Chungking<br />Express</div>
    <video src="videos/chungking.mp4" muted loop autoplay preload class="fullscreenvid secondvid"></video>
  </section>
  <section>
    <div class="vidtext3">Happy Together</div>
    <video src="videos/happy2.mp4" muted loop autoplay preload class="fullscreenvid secondvid"></video>
  </section>
  <section>
    <div class="circlevidtext">
      Welcome to the world of
      <div class="domaine-ita-span">Wong Kar-wai</div>
    </div>
    <video src="videos/time.mp4" muted loop autoplay preload class="circlevid"></video>
  </section>
  <section>
    <div class="redcircle"></div>
    <img src="images/wongkarwai.png" alt="wongkarwai" class="" height="150%"
      style="margin-left: 10%; margin-top: -950px" />
    <div class="directortext" style="margin-top: -500px; margin-left: 10%">
      director
    </div>
    <div class="imgtext" style="margin-top: -1100px; margin-left: 50%; max-width: 370px">
      Wong Kar-wai is a Hong Kong film director. His films are characterised
      by nonlinear narratives, atmospheric music, and vivid cinematography
      involving bold, saturated colours. A pivotal figure of Hong Kong cinema,
      Wong has had a considerable influence on filmmaking with his trademark
      personal, unconventional approach.
    </div>
  </section>
  <section>
    <div class="redcircle"></div>
    <img src="images/chungking.png" alt="shooting girl" class="" height="130%"
      style="margin-left: -5%; margin-top: -800px; opacity: 1" />
    <div class="directortext" style="margin-top: -500px; margin-left: 70%">
      film
    </div>
    <div class="imgtext" style="margin-top: -1050px; margin-left: 54.7%; max-width: 450px">
      Lush colors, sensuous music, and sinuous movements combine with kinetic
      camerawork, shifting film speeds, and exhilaratingly fast editing to
      create a total sensory overload whereby Wong explores themes of time,
      memory, love, and loss.
    </div>
  </section>
  <section>
    <video src="videos/end.mp4" muted loop autoplay preload class="fullscreenvid secondvid"></video>
    <div class="vidtextend">
      wongkarwai.net<br />
      877 Cheung Sha Wan<br />
      Western District<br />
      Hong Kong<br />
      +852 3705 9037
    </div>
    <input type="text" placeholder="name" style="margin-top: 100px; margin-left: 40px" />
    <br />
    <input type="text" placeholder="email" style="margin-top: 50px; margin-left: 40px" />
    <br />
    <textarea type="text" placeholder="message" style="margin-left: 40px" /></textarea>
    <br>
    <button class="send" style="margin-top: 50px;">send</button>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="script.js"></script>
</body>
</html>